button {
	cursor: pointer;
	word-break: keep-all;
	margin: 0 5px 0 0;
	border: 0px solid #fff;
}
.btns {
		height: 100%;
	.active {
		background-color: #a4b656;
	}
	&__green {
		height: 35px;
		border-radius: 5px;
		background-color: #687826;
		color: #fff;
		text-align: center;
		padding: 0 10px;
		&:hover {
			background-color: #a4b656;
		}
	}
	&__grey {
		height: 35px;
		border-radius: 5px;
		background-color: rgb(128, 128, 128);
		color: #fff;
		text-align: center;
		padding: 0 10px;
		&:hover {
			background-color:rgb(173, 173, 173);
		}
	}
	&__submit {
		width: 165px;
		height: 50px;
		border-radius: 25px;
		background-color: #687826;
		color: #fff;
		&:hover {
			background-color: #a4b656;
		}
	}
	&__reject {
		width: 165px;
		height: 50px;
		border-radius: 25px;
		background-color: red;
		color: #fff;
		&:hover {
			background-color: rgb(255, 138, 138);
		}
	}
	&__cancel {
		width: 165px;
		height: 50px;
		border-radius: 25px;
		background-color: rgb(128, 128, 128);
		color: #fff;
		&:hover {
			background-color: rgb(173, 173, 173);
		}
	}
	&__close {
		background: url("./../../image/close.svg") center center no-repeat;
		background-color: transparent;
		background-size: 100% auto;
		border: 0px;
		vertical-align: middle;
		}
		&__right {
				width: 20px;
				height: 35px;
				background: url("./../../image/arrow-right.svg") no-repeat;
				background-size: contain;
				cursor: pointer;
		}
}

.title {
	height: 40px;
	font-size: 24px;
	font-weight: 600;
	text-align: center;
	color: #687826;

}

table.list {
	width: 100%;
	margin: 50px 0;
	box-sizing: border-box;
	line-height: 150%;
	th {
		height: 50px;
		color: #9a9a9a;
		vertical-align: middle;
		line-height: 150%;
		padding: 0 15px;
	}
	tr{
		border: solid 1px #95a74a;
		background-color: #fff;
		&:first-child {
			border: solid 0px #fff;
		}
		&:nth-child(even) {
			background-color: #daddce;
		}
	}
	td {
		height: 100px;
		vertical-align: middle;
		word-break: break-all;
		padding: 0 15px;
	}
}

.search {
	&-form {
		width: 1000px;
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		align-items: flex-end;
		flex-wrap: wrap;
		margin: 0 0 20px 0;
	}	
	&-items {
		margin: 0 20px 10px 0;
	}
	&-title {
		height: 40px;
		font-weight: 600;
		color: #687826;
	}
	label {
		height: 17px;
		font-size: 15px;
		font-weight: 500;
		line-height: 1.13;
		color: #979797;
		margin: 0 0 10px 0;
		display: block;
	}
	input,select {
		width: 180px;
		height: 35px;
		border-radius: 3px;
		border: solid 1px #979797;
		box-sizing: border-box;
	}
	.radio {
		width: auto;
		height: 35px;
		margin: 0 5px 0 15px;
		display: inline-block;
		vertical-align: middle;
	}
	&__result {
			margin: 20px 0;
			&-list {
				margin: auto;
				// width: 700px;
				text-align: center;
				margin-top: 20px;
			tr {
				border: solid 0px #fff;
				height: 25px;
			}
			th {
				color: #95a74a;
				text-align: center;
			}
			td {
				background: #fff;
				border:0px solid #fff;
				text-align: center;
				padding: 0 30px;
			}
		}
	}
	&-notice {
		font-size: 12px;
		width: 100%;;

	}
}

.popup {
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.5);
	position: fixed;
	top:0;
	z-index: 999;
	overflow-y: scroll;
	&-list {
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		align-items: flex-start;
		flex-wrap: wrap;
	}
	&__view {
		box-sizing: border-box;
		position: absolute;
		margin: auto;
		top: 80px;
		left: 0;
		right: 0;
		width: 490px;
		border-radius: 15px;
		box-shadow: 0 10px 20px 0 rgba(149, 167, 74, 0.3);
		background-color: #ffffff;
		padding: 40px 40px;
	}
	&__close {
		position: absolute;
		right: 0;
		top: 0;
		cursor: pointer;
		.btns {
			&__close {
				width: 25px;
				height: 25px;
				margin: 15px;
			}
		}
	}
	&__title {
		font-size: 24px;
		font-weight: 600;
		text-align: center;
		color: #687826;
		margin: auto;
		padding: 10px 0;
	}
	&__info {
		padding: 5px 0 0 0;
		&-title {
			color: #979797;
			min-width: 200px;
			margin: 5px 0;
		}
		&-items {
			color: #000;
			margin: 6px 0;
			line-height: 120%;
		}
	}
	&__action {
		margin: 20px 0;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: flex-start;
		flex-wrap: wrap;
		&-title {
			width: 200px;
			color: #979797;
		}
		select {
			width: 180px;
			height: 35px;
			border-radius: 3px;
			border: solid 1px #979797;
			margin: 10px 0;
		}	
	}
	&__note {
		margin: 20px 0;
		&-title {
			color: #979797;
			margin: 10px 0;
		}
		textarea {
			width: 100%;
			min-height: 150px;
		}
	}
	&__btn {
		.btns {
			text-align: right;
			margin: 20px 0;
		}
	}
	&__upload {
		&-title {
			color: #979797;
			margin: 5px 0;
		}
		&-items {
			box-sizing: border-box;
			min-height: 35px;
			width: 220px;
			border-radius: 3px;
			background-color: #eaeaea;
			line-height: 200%;
			padding: 0 25px 0 10px;
			margin: 5px 0;
			color: #000;
			word-break: break-all;
			position: relative;
			.btns {
				position: absolute;
				width: 25px;
				top: 0;
				right: 0;
				bottom: 0;
				margin: auto;
				&__close {
					width: 15px;
					height: 15px;
					position: absolute;
					top: 0;
					right: 0;
					bottom: 0;
					left: 0;
					margin: auto;
				}
			}
		}
		.btns__green {
			margin: 10px 0;
		}
	}
	&__input {
		label {
			color: #979797;
			margin: 5px 0;
			width: 100%;
			display: inline-block;
		}
	}
	&-editrecord {
		border: 1px solid #95a74a;
		margin: 20px 0;
		padding: 0 20px;
		&:nth-child(even) {
			background-color: rgba($color: #daddce, $alpha: 0.3);
		}
		table {
			width: 100%;
			margin: 0 0 20px 0 ;
			text-align: center;
			th {
				vertical-align: middle;
				color: #687826;
				text-align: center;
			}
			tr {
				height: 40px;
			}
			td {
				vertical-align: middle;
				&:first-child {
					color: #687826;
					width: 200px;
					text-align: right;
				}
			}
		}
	}
	&__parameter {
		table {
			width: 100%;
			margin: 0 0 20px 0 ;
			
			th {
				vertical-align: middle;
				color: #979797;
				text-align: left;
				padding: 0 20px;
			}
			tr {
				height: 40px;
			}
			td {
				vertical-align: middle;
				padding: 0 20px;
				&:first-child {
					color: #979797;
					width: 150px;
					text-align: right;
					padding: 0 0;
				}
			}
			input {
				width: 100%;
			}
		}
	}
}

input[type="file"] {
	zoom: 1.1;
}

.member__detail {
	line-height: 200%;
	&-title {
		color: #979797;
		min-width: 200px;
		margin: 5px 0;
		span {
			margin: 0 5px;
			color: #000;
			font-size: 13px;
		}
	}
	&-items {
		color: #000;
		margin: 6px 0;
		line-height: 120%;
	}
	&-block {
		border-bottom: 1px dotted #687826;
		display: flex;
		flex-direction: row;
		justify-content:flex-start;
		align-content: flex-start;
		flex-wrap: wrap;
		padding: 5px 0 0 0;
		margin: 10px 0;
	}
	&-btns {
		margin: 0 0 20px 0;
	}
	&__info {
		position: relative;
		.btns{
			position: absolute;
			right: 0;
			bottom: 10px;
			height: auto;
		}
	}
	&-list {
		vertical-align: top;
		display: flex;
		flex-direction: row;
		justify-content:flex-start;
		align-content: flex-start;
		flex-wrap: wrap;
		padding: 5px 0 0 0;
		margin: 10px 0;
		table {
			width: 56%;
			margin: 0 100px 50px 0 ;
			&:nth-child(2) {
				width: 30%;
				margin: 0 0 0 0 ;
			}
			th {
				vertical-align: middle;
				color: #687826;
				font-weight: 600;
			}
			tr {
				height: 50px;
				border-bottom: 1px dotted #687826;
			}
			td {
				vertical-align: middle;
				&:first-child {
					color: #687826;
					font-weight: 600;
				}
			}
		}
		.btns__green {
			margin: 10px 10px 10px 0;
		}
	}
	table.list {
		width: 580px;
		text-align: left;
		th {
			text-align: left;
			padding: 0 20px;
		}
		td {
			height: 50px;
			padding: 0 20px;
		}
	}
	.title {
		font-weight: 600;
		font-size: 20px;
		text-align: left;
	}
}
